/********* General *********/
ul {
    list-style-type: none;
}
* {
    box-sizing: border-box;
    max-width: 100%;
}

/********* -Classes *********/
.hide {
    display: none;
}
.show {
    display: block;
}

/********* Components *********/
/********* -App *********/
.App {
    padding: 1rem;
}

/********* -CitySearch *********/
.City-Search,
.Number-Of-Events {
    margin: 1rem auto;
    text-align: center;
    width: 150px;
}
.City-Search input {
    display: block;
    margin-top: 0.5rem;
    width: 100%;
}
.suggestions {
    border: 1px solid;
    margin-top: 0;
    padding: 5px;
    width: 100%;
}

/********* --NumberOfEvents *********/
.Number-Of-Events input {
    display: block;
    margin: 0.5rem auto auto auto;
    width: 50px;
    text-align: center;
}

/********* -EventList *********/
.Event-List {
    padding-left: 0;
}

/********* -Event *********/
.Event {
    border: 1px solid;
    margin: 1rem auto;
    padding: 1rem;
    width: 800px;
}