.City-Search input {
    display: block;
    margin-top: 0.5rem;
    width: 150px;
}
.suggestions {
    background-color: #fff;
    border: 1px solid;
    border-top: 0;
    max-height: 150px;
    overflow-y: auto;
    width: 150px;
}
.suggestions li {
    padding: 0.3rem 0.5rem;
}
.suggestions li:hover {
    background-color: var(--secondary-color);
    color: #fff;
    cursor: pointer;
}
